/builds

/target
/project/target

/rocket-chip/riscv-tools/riscv-gnu-toolchain/build*
/rocket-chip/riscv-tools/riscv-fesvr/build*
/rocket-chip/riscv-tools/riscv-isa-sim/build*
/rocket-chip/riscv-tools/riscv-opcodes/build*
/rocket-chip/riscv-tools/riscv-openocd/build*
/rocket-chip/riscv-tools/riscv-pk/build*
/rocket-chip/riscv-tools/riscv-tests/build*

/rocket-chip/emulator/generated-src
/rocket-chip/emulator/verilator
/rocket-chip/emulator/emulator*
/rocket-chip/emulator/run_*

/rocket-chip/project/target
/rocket-chip/target

/fpga-shells/target

/programs/record
/run_*

/nvidia-dla-blocks/target
/rocket-chip/chisel3/chiselFrontend/target
/rocket-chip/chisel3/coreMacros/target
/rocket-chip/hardfloat/target
/rocket-chip/macros/target
/sifive-blocks/target
